.myBackground {
  background: url("https://firebasestorage.googleapis.com/v0/b/hajun-wedding.appspot.com/o/images%2Fbackground.JPG?alt=media&token=a4b66263-aa43-431a-bf81-6916ef5bb19a");
  background-position: center center;
  background-size: cover;
}
.myBackground > div {
  min-height: 1192px;
}

@media (max-width:  1024px) {
  .myBackground > div {
    min-height: 815px;
  }
}
@media (max-width: 767px) {
  .myBackground > div {
    min-height: 485px;
  }
}